<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="stylesheet" href="{{url_for('static',
   filename='style.css') }}">
</head>
<body>
  <div class="login-container">
  <h2>  Welcome Adminstrator:<br>Login To Proceed</h2>
  <form method="POST">
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="password" name="password" placeholder="Password" required><br><br>
<label for="class_id">Class:</label>
        <select id="class_id" name="class_id" required>
            <option value="" disabled selected>Select Class</option>
            {% for cls in classes %}
            <option value="{{ cls.id }}">{{ cls.name }}</option>
            {% endfor %}
        </select>
    <button type="submit">Login</button> 
  </form>
  </div>
</body>
</html>