body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: #fff;
    max-width: 800px;
    height: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h4 {
    text-align: left;
    color: #333;
    margin-bottom: 1px;
    padding-left: 150px;
    font-size: 14px;
    line-height: 1.2;
}
.name{
    float: right;
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-right: 185px;
}
.level{
    float: right;
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-right: 180px;

}
.class{
    float: right;
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-right: 180px;

    
}
.term{
    float: right;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 1px;
    padding-right: 225px;
}


h5{
    font-size: 15px;
    font-family: 'Poppins','Segoe UI',sans-serif;
    font-weight: 600;
    margin: 0.5em 0;
    line-height: 1,2;
    color: #333;
    text-align: center;
}

p {
    background-color: #00264d;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
}

.result-box {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.result-box strong {
    display: inline-block;
    width: 100px;
    color: #333;
}
h3{position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #00264d;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    

}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 24px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 9px 12px;
    text-align: left;
}

table th {
    background-color: rgb(25, 59, 99);
    color: white;
}

table tr:nth-child(even) {
      background-color: #f9f9f9;
}
.subject-row{
    border-bottom: 6px solid rgba(209, 180, 11, 0.953);
}
.container .headers{
    width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.container header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.container header img{
width: 120px;
height: auto;
margin-bottom: 20px;
}
.container header .title h1{
    margin: 0;
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}
.container header .title p{
    margin: 0;
    font-size: 10px;
    color: white;
    margin-bottom: 20px;
}