body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: #fff;
    max-width: 800px;
    height: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h4 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}
h5{
    font-size: 15px;
    font-family: 'Poppins','Segoe UI',sans-serif;
    font-weight: 600;
    margin: 0.5em 0;
    line-height: 1,2;
    color: #333;
    text-align: center;
}

p {
    background-color: #00264d;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
}

.result-box {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.result-box strong {
    display: inline-block;
    width: 100px;
    color: #333;
}
h3{position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #00264d;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    

}

hr {
    border: none;
    border-top: 1px solid #ddd;
}
