css
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
}

input,select,button{
    margin: 10px 0;
    padding: 8px;
    width: 300px;
}

button{
    background-color: #28a745;
    color: white;
    border: none;
}

a{
    display: block;
    margin-top: 20px;
    
}