body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}
header{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.sidebar {
  width: 200px;
  background: #2c3e50;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background: #f4f4f4;
}

.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
 
}

.card {
  flex: 0 0 200px;
  padding: 12px;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.teal { background: #1abc9c; }
.green { background: #2ecc71; }
.blue { background: #3498db; }
.orange { background: #e67e22; }

.charts, .tables {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.chart, .table {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
}
