body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: 40px ;
    margin: auto;
}
.container{
    background-color: floralwhite;
    padding: 40px;
    max-width: 700px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.subtitle{
    text-align: center;
    color: blue;
    font-size: 2.5em;
}
.maintitle{
    text-align: justify;
}
.login_buttons{
    background-color: rgb(19, 0, 139);
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 25px 30px;
    font-size: 18px;
    width: 100%;
}
.login_buttons:hover{
    background-color: dodgerblue;
}