body {
  font-family: Arial, sans-serif;
  margin: 30px;
}
.report {
  page-break-after: always;
  border: 1px solid #ccc;
  padding: 20px;
}

h2, h3 {
  text-align: center;
  margin: 0;
}

.info {
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #333;
  padding: 6px;
  text-align: left;
}

.footer {
  margin-top: 30px;
  font-size: 0.9em;
  text-align: right;
}
